/**
 * Error box
 */

.errorbox {
    background-color: salmon;
    border: 1px solid salmon;
    border-radius: 5px;
    color: black;
    display: none;
    font-weight: bold;
    padding: 10px;
}