/**
 * Images and image list
 */

.imagelist li {
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}