body {
    background-color: #fafafa;
    font-family: verdana arial;
    font-size: 14px;
    margin: 0;
}

#main {
    position: relative;
    text-align: center;
    top: -20px;
    z-index: 500;
}

#header {
    background-color: #4f85bb;
    display: block;
}

#logo {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    height: 50px;
    margin: 5px;
    padding: 5px;
    vertical-align: middle;
    width: 50px;
}